@model ML.Cine
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src=" https://use.fontawesome.com/releases/v6.1.0/js/all.js " crossorigin="anonymous"></script> <!-- Iconos de fontawesome -->
<link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css "> <!-- Iconos de Bootsrap -->
<div class="text-center">
    <h2>CINE</h2>
    <h5>Lista de Cines registrados</h5>
</div>
<hr />
<div class="row">
    <div class="col-auto ms-auto">
        <a href="@Url.Action("Form", "Cine")" class="btn btn-success">Agregar</a>
    </div>

</div>
<br />
@if (Model.Cines.Count > 0)
{
    <table class="table table-dark table-hover table-striped " id="myTable">
        <thead>
            <tr class="table-secondary">
                <th class="text-center">Editar</th>
                <th class="text-center">IdCine</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>IdZona</th>
                <th>Ventas</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Cine cine in Model.Cines)
            {
                <tr>
                    <td class="text-center"><a class="btn btn-warning" href="@Url.Action("Form", "Cine", new {IdCine = cine.IdCine})"><i class="fa-solid fa-pencil"></i></a></td>
                    <td>@cine.IdCine</td>
                    <td>@cine.Nombre</td>
                    <td>@cine.Direccion</td>
                    <td>@cine.Zona.IdZona</td>
                    <td>@cine.Ventas</td>
                    <td class="text-center"> <a class="btn btn-danger" href="@Url.Action("Delete", "Cine" ,new {IdCine = cine.IdCine})" onclick="return confirm('Estas seguro de que deseas eliminar este registro?');"><i class="fa-solid fa-trash-can" style="color:white;"></i></a>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-warning" role="alert">
        No existen registros en la tabla :(
    </div>
}